<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="../lib/css/datepicker.min.css" rel="stylesheet" type="text/css">
    <script src="../lib/js/datepicker.min.js"></script>


    <!-- Include English language -->
    <script src="./js/i18n/datepicker.en.js"></script>

    <script type="text/javascript" charset="utf-8">
        var disabledDays = [0, 6];
        var selectedDates;
        $(function () {
            $("#newPicker").datepicker({
                language: 'en',
                multipleDates: 5,
                multipleDatesSeparator: ',',
                onHide: function (dp, animationCompleted) {
                    console.log('Hide called');
                    selectedDates = $('#newPicker').val();
                    console.log(selectedDates);
                },
                onRenderCell: function (date, cellType) {
                    if (cellType == 'day') {
                        var day = date.getDay(),
                            isDisabled = disabledDays.indexOf(day) != -1;

                        return {
                            disabled: isDisabled
                        }
                    }
                }
            });
        });
       

    </script>
</head>

<body>

<div class="main-container">
    <div class="tab">
        <button class="tablinks" onclick="openCity(event, 'TimeTracker')">Time Tracker</button>
        <button class="tablinks" onclick="openCity(event, 'TokenDetails')">Token Details</button>
        <button class="tablinks" onclick="openCity(event, 'ConnDetails')">Connection Details</button>
        <button class="tablinks" onclick="openCity(event, 'Sprint')">Sprint</button>
        <button class="tablinks" onclick="openCity(event, 'LaptopAssertdetails')">LaptopAssertdetails</button> 
       <button class="tablinks" onclick="openCity(event, 'Q4Holidayvacation')">Q4Holidayvacation</button> 
    
    </div>

    <!-- Tab content -->
    <div id="TimeTracker" class="tabcontent">
        <div class="container">
        <form action="#">
            <lable>Time Tracker</lable>
            <select id="lid_options">
                <option>--Select LID--</option>
            </select>
            <input type="submit" value="Login" onClick="callRESTLogin()">
            <input type="submit" value="LogOff" onClick="callRESTLogoff()">
        </form>
        <div id="response"></div>
        </div>
    </div>

    <div id="TokenDetails" class="tabcontent">
    <div class="container">
    <form action="#">
       Enter LID: <input type="text" name="lid">
       RSA Token Number: <input type="text" name="rsa">
       Name: <input type="text" name="name">
       Email ID: <input type="text" name="email">
        Expiry Date:  <input type="date" name="expirydate"><br /><br />
        <input type="submit" value="Submit" onClick="callRESTLoginn()">
        <!--<input type="submit" value="LogOff" onClick="callRESTLogoff()">-->
    </form>
    <div id="response1"></div>


</div>
</div>


    <div id="Sprint" class="tabcontent">
    <div class="container">
    <form action="#">
       LID: <input id="spritId" type="text" name="lid" >
        WestpacEmail ID: <input id="sprintEmailid" type="text" name="text" required>
       feature Team name: <input id="sprintTeam" type="text" name="name" required>
       ProjectName: <input id ="sprintProject"type="text" name="name" required>
       SprintNumber: <input id="sprintNumber" type="text" name="number" required>
  		
    
      
      <!--  <div  id ="sp" class="scontetnt" >  -->

					<h2>
						What went well in sprint ?<input id="a1" type="text"
							name="a1" /> <input type="text" id="a2" name="a2"> <input
							type="text" id="a3" name="a3">
					</h2>

					<h2>
						What will we commit to improve in the next sprint? <input
						type="text" id="b1"> <input type="text" id="b2">
						<input type="text" id="b3">
					</h2>

					<h2>
						What could be improved <input type="text" id="c1"> <input
						type="text" id="c2"> <input type="text" id="c3">
					</h2>

					<h2>
						Corrective actions <input type="text" id="d1"> <input
						type="text" id="d2"> <input type="text" id="d3">
					</h2>


					<input type="submit" value="Submit" onClick="saveSprintDetails()">
					<!--<input type="submit" value="LogOff" onClick="callRESTLogoff()">-->
                	  	 
              <!--  </div> -->
                </form> 
                </div>
                	
</div>

 

 <div id="sprintResponse"></div>	
 
 
 <div id ="LaptopAssertdetails" class="tabcontent">
  <h2 align="center"> Getting Westpac Laptop formatted to change to IBM laptop(so that we can access IBM network)</h2>
 
 <div class="container">
 <form action='#'>
   LID: <input id="LID" type="text" name="LID" required>
   IBM Emp Id: <input id="IBMEmpId" type="text" name="Id" >
   IBM Email Id:<input id="IBMEmailId" type="text" name="Email"  >
  <!--   Laptop is having IBM network access : <input id="Laptop is having IBM network access" type="radio" value="yes" name="Laptop is having IBM network access">yes
   <input type="radio" value="NO">No
    -->
    
    <p> Laptop is having IBM network access </p>
   <input type ="radio" name="LaptopishavingIBMnetworkaccess1" id="LaptopishavingIBMnetworkaccess1" value="Yes">
    <label for="Laptop is having IBM network access 1" class="label1">
    <span>YES</span>
      </label>
      
   <input type="radio" name ="LaptopishavingIBMnetworkaccess1" id="LaptopishavingIBMnetworkaccess1" value="No"> 
   <label for="Laptop is having IBM network access 2" class="label2">
   <span>NO</span>
   </label>
   
   <p> Presently in Hyderabad? </p>
    <input type ="radio" name="PresentlyinHyderabad1" id="PresentlyinHyderabad1" value="Yes">
    <label for="PresentlyinHyderabad1" class="label1">
    <span>YES</span>
      </label>
      
   <input type="radio" name ="PresentlyinHyderabad1" id="PresentlyinHyderabad1" value="NO">
   <label for="PresentlyinHyderabad2" class="label2">
   <span>NO</span>
   </label>
   
    <p> Can visit Office </p>
    <input type ="radio" name="CanvisitOffice1" id="CanvisitOffice1" value="Yes">
    <label for="CanvisitOffice1" class="label1">
    <span>YES</span>
      </label>
   <input type="radio" name ="CanvisitOffice1" id="CanvisitOffice1" value="NO">
   <label for="CanvisitOffice2" class="label2">
   <span>NO</span>
   </label>
   <p></p>
   <!-- Can visit IBM Office:<input id="text" type="date" name="CanvisitIBMOffice" >  -->
  <p>Can visit IBM Office:</p>
  <input id="Expectday1" type="text" name="Expectday1">
  <input id="Expectday2" type="text" name="Expectday2">
   <input id="Expectday3" type="text" name="Expectday3">
   <input id="Expectday4" type="text" name="Expectday4">
  
   <p> If not in Hyderabad,Which city/State?
   </p>
   City:<input id="City" type="text" name="City">
   State:<input id="State" type="text" name="State">
 <!--  LaptopMake(T60/T70) <input id="LaptopMake" type ="text" name=" text">  --> 
  
  LaptopMake:<input id="LaptopMake" type="text" name="Make">
   <input type="submit" value="Submit" onClick="saveLaptopAssertdetails()">
                	  	 
 </form>
 </div>
 <h5 align="right" >version:ArbajShaik(GH)</h5>
 </div>
 <div id ="LaptopAssertdetailsResponse"></div>
 
 <div id=Q4Holidayvacation class= "tabcontent">
 <div class ="container">
 <form action='#'>
    LID: <input id="EmpId" type="text" name="LID" required>
    Name: <input id="Name" type="text" name="Name" required>
       Q4: <input id="Q4" type="text" name="Q4" required>
       <!--  Add a vacation<input id="Addavacation" type="date" name="Addavacation" min="2020-10-01" max="2020-12-31" >
     Vacationsplanned <input id="planned1" type ="date" min="2020-10-01" max="2020-10-31" >
 <input id="planned2" type ="date" min="2020-11-01" max="2020-11-30" align="center">
 <input id="planned3" type ="date" min="2020-12-01" max="2020-12-31" >  
Vacationsplanned<input type="text" style="cursor:pointer;" class="form-control dates"> -->

<!-- 
Vacationsplanned<input type="text" id="Txt_Date" placeholder="Choose Date" style="cursor: pointer; "> -->



  Vacationsplanned<input type="date" id="Vacationsplanned" value="10-06-2020" name ="Vacationsplanned" min="2020-10-01" max="2020-12-31">
 <button type="button" onclick="addvacation()" id="Add" > Add </button> 
 <div id="container"></div>
 <button type="button" onclick="removeElement()" id="delete" >delete </button> 

 
 


        <input type="submit" value="Submit" onClick="saveQ4HolidayvacationDetails()">
        <h4> Note: Holidays in IBM</h4>
        <p>OCT:2-Gandhi Jayanthi</p>
        <p>OCT:23-Dussehra (Maha Saptamii)</p>
        <p>OCT:26-Dussehra/Vijaya Dashami</p>
        <p>NOV:1-Kannada Rajyotsava</p>
        <p>NOV:16-Diwali/Deepavali/ Naraka Chaturdasi/Balipadyami </p>
        <p>DEC:25-Christmas Day</p>

 
 </form>
 </div>
 </div>
  <div id ="Q4HolidayvacationResponse"></div>
 

    <div id="ConnDetails" class="tabcontent">
      <div class="container">
    <form action="#">
      <h2 align="center"> Connection Details</h2>
     <label id="id1">Lid</label><input type="text" id="id2" name="lid" placeholder="Enter Lid">
      <br>
     <label id="id1">WestpaC email id</label> <input id="id3" type="email" name="email" placeholder="Enter Email"><br>
      
     <label id="id1">Internet Connection Type</label> <br>
     <input type="radio" name="contype" value="mobile">Mobile
     <input type="radio" name="contype" value="broadband">Broadbrand
        
        <input type="submit" value="Submit" onClick="connDetails()">
       
       
       
    </form>
    <div id="response2"></div>

</div>
    </div>
</div>

<style>
#response {
    font-size: 1rem;
    color: indianred;
}
 
 
 ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

/* Month header */
.month {
  padding: 70px 25px;
  width: 100%;
  background: #1abc9c;
  text-align: center;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color:#ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

/* Days (1-31) */
.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

/* Highlight the "current" day */
.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important
}
 
 
.scontetnt{
float :left;
height:20px;
width:10%;
margin-right:70%;
text-align:left;
}  
   
float:left;width:100px;
}

h2{
color:green
}
#id3{
width: 100%;
  padding: 15px 5px 15px 5px ;
  margin: 20px 0;
  display: inline;
  border: 1px  #ccc;
  border-radius: 4px;
}
#id2{
width: 100%;
  padding: 15px 5px 15px 5px ;
  margin: 20px 0;
  display: inline;
  border: 1px  #ccc;
  border-radius: 6px;
}
#id1{

  width: 100%;
  margin: 0px ;
  display: block;
  font-size: 1.4rem;
  color : gray;
  text-align: left;
}
lable{
  width: 100%;
  margin: 8px 0;
  display: block;
  font-size: 2.2rem;
  color : Green;
  text-align: center;
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 300px;
  margin: 0 auto;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Style the tab */
.tab {
  overflow: hidden;
  background-color: #f1f1f1;
}



/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  float: left;
  border: 1px;
  outline: none;
  cursor: pointer;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #45a049;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #3a8c3db3;
}
/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}


</style>
<script>


this.openCity(event, 'TimeTracker');
this.callGetLids();
 function callGetLids() {
		var today = Date.now();
		    var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    var LID_array = json=JSON.parse(this.responseText);
                        var select = document.getElementById("lid_options");
                        for(index in LID_array) {
                            select.options[select.options.length] = new Option(LID_array[index].lid, LID_array[index].lid);
                        }
                }
            };
            xhttp.open("GET", "http://10.97.57.170:9001/getAllLids", true);
            xhttp.send();
        }
        function callRESTLogin() {
		var today = Date.now();
		    var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    document.getElementById("response").innerHTML = this.responseText;
                }
            };
            var lid = document.getElementById("lid_options").value;
            if(lid == "--Select LID--" | lid=="" | lid.length == 0){
                alert('Enter valid LID');}
                else{

            xhttp.open("GET", "http://10.97.57.170:9001/logTime?time="+today+"&lid="+lid+"&eventType=login", true);
            xhttp.send();
            }
        }
		function callRESTLogoff() {
		var today = Date.now();
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    document.getElementById("response").innerHTML = this.responseText;
                }
            };
             var lid = document.getElementById("lid_options").value;
            if(lid == "--Select LID--" | lid=="" | lid.length == 0){
                alert('Enter valid LID');}
                else{
            xhttp.open("GET", "http://10.97.57.170:9001/logTime?time="+today+"&lid="+lid+"&eventType=logoff", true);
            xhttp.send();
            }
        }

        function openCity(evt, cityName) {
              var i, tabcontent, tablinks;
              tabcontent = document.getElementsByClassName("tabcontent");
              for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
              }
              tablinks = document.getElementsByClassName("tablinks");
              for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
              }
              document.getElementById(cityName).style.display = "block";
              evt.currentTarget.className += " active";
        }

        function connDetails() {
		var today = Date.now();
		    var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    document.getElementById("response").innerHTML = this.responseText;
                }
            };
            var lid = document.getElementById("lid").value;
            var email=document.getElementById("email").value;
            var contype=document.getElementById("contype").value;
           

            
                xhttp.open("GET", "https://localhost:9001/details?lid="+lid+"&email"+email+"&contype"+contype, true);
            xhttp.send();
            windows.open("success.html");
            
        }
        function callRESTLoginn() {
    		var today = Date.now();
    		    var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        document.getElementById("response1").innerHTML = this.responseText;
                    }
                };
                var lid = document.getElementById("lid").value;
                var rsa = document.getELementById("rsa").value;
                var expirydate = document.getELementById("expirydate").value;
                var name = document.getELementById("name").value;
                var email = document.getELementById("email").value;
                

                xhttp.open("GET", "https://localhost:9001/logTimee?lid="+lid+"&rsa="+rsa+"&expirydate="+expirydate+"&name="+name+"&email"+email, true);
                xhttp.send();
                windows.open("success.html");
                
            }

     function saveSprintDetails(){
    	 var today = Date.now();
		    var xhttp = new XMLHttpRequest();
         xhttp.onreadystatechange = function() {
             if (this.readyState == 4 && this.status == 200) {
                 document.getElementById("sprintResponse").innerHTML = this.responseText;
             }
         };
         var sprintData = {};
         var lid = document.getElementById("spritId").value;
         var sprintEmailid = document.getElementById("sprintEmailid").value;
         var featureTeamName = document.getElementById("sprintTeam").value;
         var projectName= document.getElementById("sprintProject").value;
         var sprintNumber= document.getElementById("sprintNumber").value;
         var a1 = document.getElementById("a1").value;
         var a2 = document.getElementById("a2").value;
         var a3 = document.getElementById("a3").value;
         var b1 = document.getElementById("b1").value;
         var b2 = document.getElementById("b2").value;
         var b3 = document.getElementById("b3").value;
         var c1 = document.getElementById("c1").value;
         var c2 = document.getElementById("c2").value;
         var c3 = document.getElementById("c3").value;
         var d1 = document.getElementById("d1").value;
         var d2 = document.getElementById("d2").value;
         var d3 = document.getElementById("d3").value;
         
         console.log(sprintData)      
        
         

       
     //    var spritId = document.getElementByid("spritId").value;
       //  if( spritId ==''|| spritId.length==0)
        //	 {alert('inputvalid lid');}
         
         
        //...................................................
     xhttp.onreadystatechange = function() {
if (this.readyState == 4 && this.status == 200) {
    a.click();
}
};
 
  /*  function validate()
    {
    	var lid = document.getElementById("spritId");
         
    	if (spritId.value == "" || spritId.length=="0")
    		{
    		alert("ENTER VALID LID");
    		}
    	else
    	{
    		
    	}
    
    }*/





//let sprintEmailid = form.element['sprintEmailid];
	
//var lid = document.getElementByid("lid").value;
//if( lid ==''|| lid.length==0)
	// {alert('inputvalid lid');}
	 
        xhttp.open("POST", "http://localhost:9004/sprintDetails?lid="+lid+"&sprintEmailid="+sprintEmailid+"&featureTeamName="+featureTeamName+"&projectName="+projectName+"&sprintNumber="+sprintNumber
        		+"&a1="+a1+"&a2="+a2+"&a3="+a3
        		+"&b1="+b1+"&b2="+b2+"&b3="+b3
        		+"&c1="+c1+"&c2="+a2+"&c3="+c3
        		+"&d1="+d1+"&d2="+d2+"&d3="+d3, true);
        xhttp.responseType = "blob";
        xhttp.send();
        //windows.open("success.html");
        
     }
     
     
     function saveLaptopAssertdetails(){
    	 var today = Date.now();
		    var xhttp = new XMLHttpRequest();
         xhttp.onreadystatechange = function() {
             if (this.readyState == 4 && this.status == 200) {
                 document.getElementById("LaptopAssertdetailsResponse").innerHTML = this.responseText;
             }
         };
         var LaptopAssertdetailsData = {};
         //var body = this.responseXML;
        // console.log(body);
         //alert(body);
         var LID = document.getElementById("LID").value;
         var IBMEmpId = document.getElementById("IBMEmpId").value;
       //  var IBMEmpId = document.getElementByid("IBMEmpId").value;
         //var IBMEmailId = document.getElementByid("IBMEmailId").value;
         var IBMEmailId = document.getElementById("IBMEmailId").value;
//var LaptopishavingIBMnetworkaccess1= document.getElementByid("LaptopishavingIBMnetworkaccess1").value;
         var LaptopishavingIBMnetworkaccess1 = document.getElementById("LaptopishavingIBMnetworkaccess1").value;
        // var LaptopishavingIBMnetworkaccess2 = document.getElementByid("LaptopishavingIBMnetworkaccess2").value;
         //var LaptopishavingIBMnetworkaccess2 = document.getElementById("LaptopishavingIBMnetworkaccess2").value;
         //var PresentlyinHyderabad1 =document.getElementByid("PresentlyinHyderabad1").value;
         var PresentlyinHyderabad1 = document.getElementById("PresentlyinHyderabad1").value;
        // var PresentlyinHyderabad2 =document.getElementByid("PresentlyinHyderabad2").value;
       // var PresentlyinHyderabad2 = document.getElementById("PresentlyinHyderabad2").value;
        
        //var CanvisitOffice1= document.getElementByid("CanvisitOffice1").value;
      var CanvisitOffice1 = document.getElementById("CanvisitOffice1").value;
         //var CanvisitOffice2= document.getElementByid("CanvisitOffice2").value;
        // var CanvisitOffice2 = document.getElementById("CanvisitOffice2").value;
       //  var CanvisitIBMOffice =document.getElementByid("CanvisitIBMOffice").value;
             var CanvisitIBMOffice1 = document.getElementById("Expectday1").value;    
             var CanvisitIBMOffice2 = document.getElementById("Expectday2").value;    
             var CanvisitIBMOffice3 = document.getElementById("Expectday3").value;    
             var CanvisitIBMOffice4= document.getElementById("Expectday4").value;    

              var City = document.getElementById("City").value;
              var State = document.getElementById("State").value;
              var LaptopMake = document.getElementById("LaptopMake").value;
          
       console.log(LID,IBMEmpId,IBMEmailId,LaptopishavingIBMnetworkaccess1,PresentlyinHyderabad1,Expectday1,Expectday2,Expectday3,Expectday4,City,State,LaptopMake);
     //console.log(LaptopAssertdetailsData);
         xhttp.onreadystatechange = function() {
        	 if (this.readyState == 4 && this.status == 200) {
        		//a.click();
        	 }
        	 };
       xhttp.open("Get", "http://localhost:9004/LaptopAssertdetails?LID="+LID+"&IBMEmpId="+IBMEmpId
    	    +"&IBMEmailId="+IBMEmailId
            +"&LaptopishavingIBMnetworkaccess1="+LaptopishavingIBMnetworkaccess1
        	 +"&PresentlyinHyderabad1="+PresentlyinHyderabad1
       		+"&CanvisitOffice1="+CanvisitOffice1
       		+"&Expectday1="+CanvisitIBMOffice1
       		+"&Expectday2="+CanvisitIBMOffice2
       		+"&Expectday3="+CanvisitIBMOffice3
       		+"&Expectday4="+CanvisitIBMOffice4
       		+"&City="+City
    		+"&State="+State
    		+"&LaptopMake="+LaptopMake, true);
      /*  if(this.status !=200){
    	   alert("Successfully updated details");
       }else{
    	   alert("failed to update details");
       } */
       
      // xhttp.responseType = "blob";
       console.log(LID,IBMEmpId,IBMEmailId,LaptopishavingIBMnetworkaccess1,PresentlyinHyderabad1,CanvisitOffice1,Expectday1,Expectday2,Expectday3,Expectday4,City,State,LaptopMake);
      
      // alert(xhttp.status);
  	 if (xhttp.readyState === 4 && xhttp.status === 200){
         alert(xhttp.status, xhttp.responseXml);
          
  	 } 
  	xhttp.onload = function (){
    	//alert(xhttp.status);
    	if(xhttp.status ===500){
    		alert("Resubmit the Form");
            window.open("error.html");
           }else {
        	   alert("Successfully updated the form");
           }
    	
    };

	  // alert("Thank you");
    xhttp.send();
 
     }
       function dates(){
    	 var vacations=[];
    	 this.vacation.push(document.getElementById("Addavacation"));
     console.log(this.vacations)
     }
       
      
      $("#Txt_Date").datepicker({
    	    format: 'd-M-yyyy',
    	    inline: false,
    	    lang: 'en',
    	    step: 5,
    	    multidate: 5,
    	    closeOnDateSelect: true
    	});
     document.getElementById('Add').onclick = function() {
    	  var radiobox = document.createElement('input');
    	  radiobox.type = 'radio';
    	  radiobox.id = 'Add';
    	  radiobox.value = 'date';

    	  var label = document.createElement('label')
    	  label.htmlFor = 'contact';

    	  var description = document.createTextNode('Email');
    	  label.appendChild(description);

    	  var newline = document.createElement('br');

    	  var container = document.getElementById('container');
    	  container.appendChild(radiobox);
    	  container.appendChild(label);
    	  container.appendChild(newline);
    	  
    	}

      
       
 
      function addvacation(){ 
    	 vacationdates=[];   	
    	  
    	  console.log("hello");
    	  var dates = document.getElementById("Vacationsplanned").value;
    	  vacationdates.push(dates);
    	  console.log(dates); 
    	 
    	  for(var i=0; i<vacationdates.length;i++ ){
    	  var radiobox = document.createElement('input');
    	  radiobox.type = 'checkbox';
    	  radiobox.value=vacationdates[i];
    	  radiobox.id = 'Add';
    	//  radiobox.value = 'date';
    	  var label = document.createElement('label')
    	  label.htmlFor = 'contact';

    	  var description = document.createTextNode(vacationdates[i]);
    	  label.appendChild(description);

    	  var newline = document.createElement('br');

    	  var container = document.getElementById('container');
    	  container.appendChild(radiobox);
    	  container.appendChild(label);
    	  container.appendChild(newline);
    	  
    	
    	  
    	  }
    	
    	  vacationdates.length+1;
      }
      
      function removeElement() {
    	    // Removes an element from the document
    	    var addedCheckboxes = document.querySelectorAll("input#Add[type=checkbox]");
    	    for(i in addedCheckboxes){
                if(addedCheckboxes[i].checked){
                    addedCheckboxes[i].nextElementSibling.remove()
                    addedCheckboxes[i].remove();
                }
    	    }
    	     var parent = document.getElementById('container');
    	     for(j in parent.children){
    	        if(j != 0 && parent.children[j].tagName == 'BR' && parent.children[--j].tagName == 'BR'){
    	            parent.children[j].remove();
    	        }
    	        if(j==0 && parent.children[j].tagName == 'BR'){
    	            parent.children[j].remove();
    	        }
    	     }
      }
      
      function saveQ4HolidayvacationDetails(){
     	 var today = Date.now();
 		    var xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = function() {
              if (this.readyState == 4 && this.status == 200) {
                  document.getElementById("Q4HolidayvacationResponse").innerHTML = this.responseText;
              }
          };
         
          
          var LID = document.getElementById("EmpId").value;
         
          var Name = document.getElementById("Name").value;
          var Q4 = document.getElementById("Q4").value;
         
          
          xhttp.onreadystatechange = function() {
         	 if (this.readyState == 4 && this.status == 200) {
         		//a.click();
         	 }
         	 };
         	 
         	 xhttp.open("Get", "http://localhost:9004/Q4HolidayvacationDetails?LID="+LID
         			+"&Name="+Name
         			+"&Q4="+Q4 +"&vacationdates="+ vacationdates.toString(),true);
         	 console.log(vacationdates);
        
         
            xhttp.send();
          
      }
      
     /*  var events = [
    	  {'Date ': new Date(2020,10,2), 'Title':'Gandhi Jayanthi'}
    	  {'Date ': new Date(2020,10,23), 'Title':'Dussehra (Maha Saptamii)'}
    	  {'Date ': new Date(2020,10,26), 'Title':'Dussehra/Vijaya Dashami'}
    	  ];
      */
      
     
    </script>
</body>
</html>
